@{
    ViewBag.Title = "Thinking Solutions General Entry Page"; 
    Layout = "~/Views/Shared/_SplashLayout.cshtml";
}

<div id="main-entry">

    <a href="@Url.Action("Index","Translate")" class="astudentbutton"></a>
    <a href="@Url.Action("Converse","Settings")" class="aconversebutton"></a>
    <a href="@Url.Action("Index","Settings")" class="atscompanybutton"></a>

</div>