@model PatTuring2016.Common.ScreenModels.PartDisplays.TopScreenModel
<div id="top">
    <div class="tophalf">
        <span class="LeftMenuLabel left">@Model.MatchedText.Title</span>
        <textarea class="basestyle widthtextin left" wrap="soft" readonly="readonly">@Model.MatchedText.Text</textarea>
    </div>

    <span><span class="LeftMenuLabel left">@Model.Operators.Title</span>
        <textarea class="basestyle left" readonly="readonly">@Model.Operators.TextList</textarea>
    </span>
</div>
