@model PatTuring2016.Common.ScreenModels.PartDisplays.TextListPartDisplay

<span><span class="CoreAttributeLabel">@Model.Title</span>
    <textarea class="corestyle" readonly="readonly">@Model.TextList</textarea>
</span>
