@{
    Layout = "~/Views/Shared/_ConsoleLayout.cshtml";
}
@model  PatTuring2016.Common.ScreenModels.FullScreenModels.WordScreenModel
<div id="Word" class="white">
    @Html.Partial("Partials/PartWord", Model)
</div>
