@{
    ViewBag.Title = "Project Turing Demonstration Help and Frequently Asked Questions";
}
<div id="homesummary">
    <h2>Online Project Turing demonstration help and FAQ</h2>
    <p>
        To see Project Turing in action you need to enter a <em>valid sentence or clause</em>. Although
        there is a lot of activity under the covers, this application only displays matched
        sentences or full clauses by design.
    </p>
    <p>
        After receiving text, Project Turing finds the stored patterns and returns the sentences or clauses
        matched. Its success relies on whether your words are recognised (they should be
        in the WordNet® dictionary) and whether the other patterns (phrases, sentences and
        other associations) are stored. At this time, the online version doesn't cover the
        full range of words and word combinations in English.
    </p>
    <p>
        Future versions of the intelligent dictionary will be based on a system that learns
        phrases through experience, instead of the hand-entered version we use today. That
        will cater to broader applications.
    </p>
    <h2 class="space50above">Limitations</h2>
    <p>
        This online demonstration shows how Project Turing has resulted in a new machine-based
        capability to recognise complex sentences. It is a static tool in that its knowledge
        is loaded once and interaction does not result in new, learned capabilities at this
        point in time. The purpose of the program is to demonstrate what is possible with
        the technology. New installations of the software will easily expand this basic functionality.
    </p>
    <p>
        Please refer to the FAQ section if you have other questions.
    </p>
    <p>
        For more details about WordNet, see Princeton University <a href="http://wordnet.princeton.edu"
                                                                    target="_blank">"About WordNet"</a>. WordNet. Princeton University. 2010. http://wordnet.princeton.edu.
        and is available under the applicable <a href="http://wordnet.princeton.edu/wordnet/license/"
                                                 target="_blank">license referenced here</a>.
    </p>

    <h2>Online Project Turing demonstration - frequently asked questions</h2>
    <p>
        Questions, questions.
    </p>
    <table>
        <tr>
            <th>
                Question
            </th>
            <th>
                Answer
            </th>
        </tr>
        <tr>
            <td>
                <h4>Why isn't my sample sentence matched?</h4>
            </td>
            <td>
                <p>
                    We have put our prototype application here to demonstrate the capabilities of Project
                    Turing. It is not a fully operational <em>product</em>, but an application that
                    <em>demonstrates</em> the benefits in the new approach. It expands received information
                    like a brain: it doesn't compress it like a computer. That is the basis of Patom
                    Theory.
                </p>
                <p>
                    The sentence may not be matched at the moment because we do not have a full coverage
                    of words and phrases. Remember, this is only a prototype. Perhaps a word isn't in
                    our dictionary or maybe we haven't included a common phrase. Perhaps you are using
                    a movie or company name we haven't stored. To enable comprehension, we enforce a
                    matching order to follow the hierarchy. In short, there are a few technical things
                    happening that may result in a general sentence not being matched at the moment.
                    Even a lot of prepositional phrases aren't currently linked. Don't worry, we have
                    designs for our future versions that sort this out.
                </p>
                <p>
                    Project Turing is designed to recognise language - either spoken or written. As
                    spoken language has no punctuation, our current set of phrases with punctuation
                    is quite limited. If a match isn't being found, try again without the punctuation.
                    In any case, it is also possible that the required patterns at a level of the hierarchy
                    are missing.
                </p>
                <p>
                    If you would like a customised version of the software with specifications that
                    meet your specific needs, please contact us at the appropriate location using our
                    <a href="http://www.thinkingsolutions.com.au/Contact.aspx">Contact Thinking Solutions</a>
                    page to discuss your options.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Why do I see multiple sentences matched in some cases?</h4>
            </td>
            <td>
                <p>
                    The online demonstration of Project Turing is designed to display valid sentences and clauses.
                    In many cases, more than one valid sentence is within the text received. While we
                    could limit its responses by looking for and displaying higher-level patterns, the
                    purpose of the demonstration is to experience the pattern matching approach without
                    hiding its operating characteristics. To see duplicate sentences that are matched, please
                    select the 'show sentences' option under the settings tab.
                </p>
                <p>
                    For example, in the sentence 'the cats play.' there are two valid sentences 'the
                    cats play' and the general statement about cats: 'cats play'.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h4>What languages are supported?</h4>
            </td>
            <td>
                <p>
                    At present, Project Turing supports a reasonably full version of English. To demonstrate
                    the potential support of other languages and character sets, a few Japanese, German,
                    French and Latin examples have been included. We expect all languages can be incorporated
                    in future versions. The inclusion of multiple languages in one system doesn't impact on the
                    operation, because <strong>different</strong> patterns are involved. By expanding the
                    information like a brain does (and not compressing it like a computer) brain-like
                    capabilities emerge.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Do I need a user account and password?</h4>
            </td>
            <td>
                <p>
                    Not at the moment. We are keeping the demonstration software available to general
                    users while the server is meeting its capacity needs with the current workload.
                    We will change that should usage increase substantially. In that event, we have
                    plans to provide online access involving registration.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Will this application be improved?</h4>
            </td>
            <td>
                <p>
                    Thinking Solutions will continue to update this prototype application at regular
                    intervals to demonstrate its capabilities. A number of changes are currently being
                    developed. Release levels are indicated in the web page footer and release tab.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Why is the application slow sometimes?</h4>
            </td>
            <td>
                <p>
                    The application is closed for maintenance from time to time. After maintenance actions,
                    the application must reload its 'brain' by loading and linking patterns from storage.
                    This activity with a full-scale dictionary takes about a minute and impacts the
                    first use of the system. Other causes may be the volume of users on the system,
                    as our current servers have a fixed capacity.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h4>
                    Are there better ways for my application to access the results of the pattern matching
                    like a Web API?
                </h4>
            </td>
            <td>
                <p>
                    Our published API for use by application developers in their own applications is available
                    by using port 8080. Our web service runs using the Microsoft WCF which provides web services. The
                    Project Turing prototype is simply a web client that accesses the API. We are also continuing to
                    improve the back-end capabilities
                    by expanding our vocabulary and phrase pattern range. Until our "learning version"
                    is released in the future, there will be the chance that some sentences will not
                    be matched.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Can Project Turing do anything other than understand languages?</h4>
            </td>
            <td>
                <p>
                    Yes. Project Turing provides an engine that recognises hierarchical, bidirectional
                    linked sets of patterns. While languages make extensive use of such patterns, many
                    other biological systems do, too. Codes can be devised, for example, that can encode
                    complex messages through hierarchical patterns. Systems can be established to exploit
                    a hierarchy - moving robots by selecting a high-level pattern to initiate complex
                    sub-level patterns. While Thinking Solutions has yet to create machines of this
                    nature, the Project Turing software already handles the hierarchical pattern matching.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h4>
                    Can I buy a server for my own development use? Are there ways to speed the Thinking
                    Solutions' research and development work up?
                </h4>
            </td>
            <td>
                <p>
                    At the moment, November 2013, Thinking Solutions is licensing its software for customer
                    use. Customers wanting to further develop or integrate patom technology into their
                    products can purchase a license to facilitate that integration.
                </p>
                <p>
                    We have a pilot program with schools and universities to use the software on a no-obligation
                    trial basis. While we do not offer any service
                    levels for the trial, we are asking pilot users to provide feedback on the future
                    product which include the "intelligent dictionary" for various languages and dialects.
                    While the current program has limitations for full commercial use, there is no time
                    like the present to become familiar with the new capabilities. Equally for students
                    and teachers, the capability to learn about language now by using the current Intelligent
                    Dictionary is unique.
                </p>
                <p>
                    The new capabilities of the dictionary, translation and the upcoming conversational context engine are
                    tracked via YouTube videos and accessible via our blog.
                </p>
                <p>
                    For educational institutions requiring service levels on the intelligent dictionary,
                    that option is available for a fee that includes high availability internet hosting.
                </p>
                <p>
                    Thinking Solutions is a small, privately owned company. Projects that exceed our
                    internal capacity, including the provision of our development environment for commercial
                    or research use, will continue to be considered on a project-by-project basis at
                    this stage Our focus is on the rapid deployment of our technology to improve the
                    world of human interaction with machines.
                </p>
                <p>
                    To get access to our solutions sooner than our product releases, please contact
                    us using our <a href="http://www.thinkingsolutions.com.au/Contact.aspx">
                        Contact Thinking
                        Solutions
                    </a> page.
                </p>
            </td>
        </tr>
    </table>
</div>
