@{
    ViewBag.Title = "Project Turing.";
    ViewBag.Message = "Welcome to our online demonstration using only linked patterns.";
}
@section featured
{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Thinking Solutions is a company that designs and builds machines based on brains. 
                Our research and development proves the new brain science: brains simply <em>store, match 
                and use hierarchical, bidirectional linked sets of patterns</em>.
            </p>
        </div>
    </section>
}

<h3>Project Turing</h3>
<div id="title" class="float-right"></div>

<p>
    Project Turing is the first major simulation undertaken by Thinking Solutions. The
        goal of the project was to understand languages using nothing but pattern-matching.
        It has resulted in a small amount of computer code recognising sentences made up
        of stored words. This had not been possible before using statistical and analytical
        approaches.
</p>
<blockquote class="pretty">
    <span>There is no <em>processing</em> in the conventional sense: there is just matching,
            or not matching.</span>
</blockquote>

<p>
    We believe that these new capabilities will provide improved human interaction with
        machines in the short term, and improved capabilities in robotics in the slightly
        longer term.
</p>
<iframe width="420" height="315" src="http://www.youtube.com/embed/qS6hEjik5e8" frameborder="0"
    allowfullscreen></iframe>
<p>
    The demonstration illustrates the capabilities of the brain-based design. By loading
        a copy of the WordNet® dictionary, the system shows it can comprehend a vast range
        of English sentences. By storing a few words and phrases in other languages, the
        general capability of multi-lingual text recognition is displayed, correctly matching
        the different languages entered.
</p>
<p>
    Compared with most programs on the market today, our prototype has required very
    little effort to demonstrate the potential. There is an exciting opportunity to
    revolutionise our interaction with machines by simply taking advantage of our new
    approach.
</p>
<blockquote class="pretty">
    <span>Throughout history, computers have <em>compressed</em> information: brains expand it.</span>
</blockquote>
<p>
    It is often said that to develop a cure, we must first understand the disease. Human
    languages have not previously been understood well enough to emulate them. By understanding
    and copying how our brain understands language, we now envisage future machines
    that learn language automatically to greatly simplify our interaction with them.
</p>
<h3>Role and Reference Grammar (RRG)</h3>
<p>
    The prototype now displays with the <em>Role and Reference Grammar (RRG)</em> format. RRG 
    provides an explanation for the way languages communicate. Project Turing's intent is to provide 
    a view of meaning in context using RRG when given words in a grammatical structure. Special thanks are 
    given to the primary developer of the RRG framework, <span class="bold">Professor Robert D. Van Valin, Jr.</span>, who has 
    provided invaluable feedback during our migration to incorporate RRG. RRG provides amazing
    clarity to the meaning of displayed sentences which we believe caters to many new computer 
    applications.
</p>
<h3>Alan Turing Dedication</h3>
<p>
    Our work is dedicated to the memory of the computer pioneer, Dr. Alan Turing, who had initiated
        work on brain-based design before his untimely death in the early 1950s.
</p>
